/* benner one */
.happy-new-year-one{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
}
.bennar-one-contrainer{
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../images/resources/Banner\ Image.png');
background-repeat: no-repeat;
width: 1300px;
height: 600px;

}
.bennar-text{
    text-align:center ;
    
}
    
.bennar-tittle{
    color: white;
font-size: 32px;
font-family: Merriweather;
font-weight: 400;
padding-top: 177px;
}
.bennar-thamble{
    color: white;
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 72px;
     padding-top: 24px;
     padding-bottom: 177px;
     padding-left: 340px;
     padding-right: 340px;
}


/* bennar two */

.happy-new-year{
    text-align: center;
  
}
div .happy-new-year-tittle{
    color: #F00;
    font-size: 88px; 
    font-weight: 700;  
}
div .dis-discription{
    color: #F00; 
    font-size: 24px;
    font-weight: 500;
}
div .discount-tittle{
    color: #070211;
    font-size: 48px; 
    font-weight: 700;
}


/* bennar three */

.party-comtrainer{
    background:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('../images/resources/Vectorrr.png');
background-repeat: no-repeat;
margin-top: 60px;
    margin-bottom: 50px;
     display: flex;
    align-items: center;
    justify-content: space-around;
   padding-left: 138px;
    
}
.party-heading{
    color: #FFF;
    font-weight: 900;
font-family: Merriweather;
font-size: 64px;
margin-left: 126px;
margin-right: 550px;


}
.party-des{
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;
    font-family: Inter;
    font-size: 18px; 
    margin-left: 126px;
    margin-right: 400px;
    margin-top: 24px;

}
.party-button{
     
    font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
margin: 48px  142px 155px;
}
.party-img{
    margin-right: 138px;
}
    





/* fourth */
main{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
}

.event-contrainer{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    
}
 .fourth{
   padding-top: 40px;
    text-align: center; 
    
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;

}
.one, .two ,.five{
    color: #F00;
}
.fourth-button{
    color: #FFF;   
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
background: #F00;
}
/* fivth */
.happy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 120px;

}
.happy-head-tittle{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.comming{
    color: #070211;

    font-family: Merriweather;
    font-size: 48px; 
    font-weight: 900;
}
.happy-description{
    color: rgba(7, 2, 17, 0.60);
    font-weight: 400;
font-family: Inter;
font-size: 20px;
padding-bottom: 20px;
}
.happy-pic{
    padding:25px;
    border-radius: 463px;
border: 15px solid #F00;
}
.haapy-head-tittle{
    color: #F00;
    font-weight: 700;
    font-family: Inter;
    font-size: 48px;
}
/* sixth  */
.holiday{
    margin-top: 120px;
    margin-left:40px ;
   
}
.holiday-hide{
    color: #070211;
    font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday-tittle{
    color: #F00;
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;   
}
.holiday-five{
    text-align: center;
    
}
.holiday-contrainer{
    position: relative;
}
.holiday-pic-one{

}
.holiday-pic-two{

}
.holiday-pic-three{

}

.holiday-pic-four{
    position: fixed;
}

/* seventh */
#portfolio{
   
   margin-top: 120px;
}
.contrainer{
    margin-right: 25px;
}

    
.portfolio-item{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    margin:10px;
    gap: 14px;
}
.portfolio-heading{
    color: #F00;
    font-weight: 500;
    font-family: Inter;
    font-size: 24px; 
    margin-bottom: 0px; 
}
.portfolio-tittle{
    color: #070211;
    font-weight: 900;
font-family: Merriweather;
font-size: 48px;
}
/* eight */
#newsletter{
    margin:120px 0;
    text-align: center;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
padding: 80px 210px;
}
.newsletter-input{
    border-radius: 50px;
background: #FFF;
color: rgba(7, 2, 17, 0.30);
font-family: Inter;
font-size: 18px;
font-weight: 400;
padding: 12px 30px 12px 200px;
border: none;
outline: none;
}
.input-contrainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.newsletter-button{
    border-radius: 0px 50px 50px 0px;
background: #F00;
padding: 12px 30px 12px 30px;
color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 600;
border: none;
}
/* footer */
footer{
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
}
.end-for{
    background: #070211;
}
.footer-contrainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addrass-info{
    color: #FFF;
    font-weight: 500;
font-family: Inter;
font-size: 24px;
margin-left: 40px;
margin-top:100px ; 
margin-bottom:100px;
}
.contact-info{
    color: #FFF;
    font-weight: 500;
font-family: Inter;
font-size: 24px;
margin-right: 140px;
margin-top:100px ; 
margin-bottom:100px;
}

.icon-link{
    text-align: center;
}